<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Floof Gang OwO</title>
</head>
<body>
<h4>NO CSS CURRENTLY, ALL IMAGES ARE PLACEHOLDERS</h4>
{% block navbar %}
<div>
<img alt="Floof gang banner" src="{% static 'img/banner.png' %}" width="1200" height="300"><br>
</div>
{% endblock %}
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tag %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% block content %}
{% endblock %}
{% block footer %}
    <div>
    <p>This is a footer... UwU<br>Site made with <3 by Liizzii.</p>
    </div>
{% endblock %}
</body>
</html>
