<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Floof Gang OwO</title>
    <link rel="stylesheet" href="{% static "css/milligram.min.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
</head>
<body>

{% block navbar %}
    <div class="container">
        <div class="row">
            <div>
                <img alt="Floof gang banner" src="{% static 'img/banner-1100.png' %}"
                     srcset="{% static 'img/banner-600.png' %} 600w,
                        {% static 'img/banner-900.png' %} 900w,
                        {% static 'img/banner-1100.png' %} 1100w"
                     sizes="(max-width: 700px) 600px,
                            (max-width: 1000px) 900px,
                            1100px"><br>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h1 style="text-align: center;"><a href="/">TheVirtualFloof's Virtual Birthday Calendar!</a></h1>
            </div>
        </div>
    </div>
{% endblock %}
{% if messages %}
    <div class="container">
        <div class="row">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
<hr>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<div class="container">
    {% block footer %}
        <hr>
        <div class="row">
            <div class="column">
                <p style="text-align: center">This is a footer... UwU<br>Site made with <3 by Liizzii.</p>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>
