{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="column column-25">
            <h2>OwO What's this?</h2>
        </div>
        <div class="column">
            <p>
                This is a small thing that I ( LiizziiVR / Lizzian ) whipped up that lets members of the Floof Gang
                Discord guild note their birthdays down so that TheVirtualFloof can wish them a happy birthday during
                his streams.<br>
                Head on over to the <a href="/submission">submission page</a> to submit yours or visit
                <a href="/today">Today's Birthdays</a> to see a list of other users who have their birthday today!<br>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="column column-25">
            <h2>I have some concerns...</h2>
        </div>
        <div class="column">
            <p>
                The only data I store is your Discord/Twitch UserID (for anti-spam measures) and the day & month of your
                birthday.<br>
                I don't store the year (in fact, you can't even enter it) or any other details from you. I don't want to
                and
                don't
                need to know them.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="column-25 column">
            <h2>I've found a potential security hole!</h2>
        </div>
        <div class="column">
            <p>
                Ping me (Liizzii#0001 / LiizziiVR or one of the other mods to notify me) on discord or send me an
                email to
                lizzy-AT-lizzian.uk. <br>Alternatively if you're savvy with Python and Django, poke through the code and
                open a PR at
                <a href="https://github.com/LizzyTrickster/FloofGangStuff">the code repository</a> for this site so I
                can
                also learn how to not make the same mistake in the future :)
            </p>
        </div>
    </div>
    <hr>
{% endblock %}
