{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2 style="text-align: center">Submit your name, birth day and birth month here!</h2>
    <p style="text-align: center">
        <strong>Note:</strong> Once you enter your details you wont be able to edit them again. This is to prevent
        abuse/spam.<br>
    </p>
    <form method="post">
        <fieldset>
            {% csrf_token %}
            <div class="row">
                <div class="column">
                    <label for="uname">User Name:</label>
                    <input {% if disabled %}disabled="" {% endif %}{% if class_string %}class="{{ class_string }}" {% endif %}type="text"
                           name="uname" id="uname"
                           {% if entry %}value="{{ entry.display_name }}"{% endif %}><br>
                </div>
                <div class="column">
                    <label for="bday">Day: </label>
                    <select {% if disabled %}disabled="" {% endif %}{% if class_string %}class="{{ class_string }}" {% endif %}name="bday"
                            id="bday">
                        {% if not entry %}
                            {% for number in days %}
                                <option value="{{ number }}"
                                        {% if entry.get_day == number %}selected{% endif %}>{{ number }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="{{ entry.get_day }}" selected>{{ entry.get_day }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="column">
                    <label for="bmon">Month:</label>
                    <select {% if disabled %}disabled="" {% endif %}{% if class_string %}class="{{ class_string }}" {% endif %}name="bmon"
                            id="bmon">
                        {% if not entry %}
                            {% for number in months %}
                                <option value="{{ number }}"
                                        {% if entry.get_month == number %}selected{% endif %}>{{ number }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="{{ entry.get_month }}" selected>{{ entry.get_month }}</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            {% if logged_in %}
                {% if not entry %}
                    <input class="button-primary" type="submit" value="submit">
                {% else %}
                    <p style="color:green">You've already provided your details, therefore you cannot submit this
                        form.</p>
                {% endif %}
            {% else %}
                <p style="color:red">You need to login via Discord or Twitch before you can submit this form.</p>
                <p>
                    <a class="button" href="{% url 'social:begin' 'discord' %}">Login with Discord!</a>
                    <a class="button" href="{% url 'social:begin' 'twitch' %}">Login with Twitch!</a>
                </p>
            {% endif %}
        </fieldset>
    </form>
    {% if logged_in %}
        {% if "discord" in backends.not_associated %}
            You are currently not logged in via Discord.
        {% else %}
            You're currently logged in via Discord as <b>
            {% for socialauth in backends.associated %}
                {% if "discord_id" in socialauth.extra_data %}{{ socialauth.extra_data.username }}#
                    {{ socialauth.extra_data.discriminator }}{% endif %}
            {% endfor %}</b>
        {% endif %}<br>
        {% if "twitch" in backends.not_associated %}
            You are currently not logged in via Twitch.
        {% else %}
            You're currently logged in via Twitch as
            {% for socialauth in backends.associated %}
                {% if "discord_id" in socialauth.extra_data %}{{ socialauth.extra_data.username }}#
                    {{ socialauth.extra_data.discriminator }}{% endif %}
            {% endfor %}
        {% endif %}<br>
        {#        <h1>success</h1><a href="/logout">logout</a><br>#}
        {#        {% for social in backends.associated %}<p>{{ social.extra_data }}</p>{% endfor %}#}
        {#        <p>{{ backends.associated }}|-{{ backends.not_associated }}-|{{ backends }}</p><br>#}
        {#        {{ entry }}#}
    {% endif %}
{% endblock %}
