{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Submit your name, birth day and birth month here!</h2>
    <p>
        Note: Once you enter your details you wont be able to edit them again. This is to prevent abuse/spam.<br>
    </p>
    <form method="post">{% csrf_token %}
    <datalist id="days">{% for number in days %}<option value="{{ number }}">{% endfor %}</datalist>
    <datalist id="months">{% for number in months %}<option value="{{ number }}">{% endfor %}</datalist>
    <label for="uname">User Name: </label><input {{ disabled }}type="text" name="uname" id="uname" {% if entry %}value="{{ entry.display_name }}"{% endif %}><br>
    <label for="bday">Day: </label><input {{ disabled }}list="days" name="bday" id="bday" {% if entry %}value="{{ entry.get_day }}"{% endif %}><br>
    <label for="bmon">Month: </label><input {{ disabled }}list="months" name="bmon" id="bmon" {% if entry %}value="{{ entry.get_month }}"{% endif %}><br>
    {% if logged_in %}
        {% if not entry %}
        <input type="submit" value="submit">
        {% else %}
            <p>You've already provided your details, therefore you cannot submit this form.</p>
        {% endif %}
    {% else %}
        <p>You need to login via Discord or Twitch before you can submit this form.</p>
        <p>
            <a href="{%  url 'social:begin' 'discord' %}">Login with Discord!</a>
            <a href="{%  url 'social:begin' 'twitch' %}">Login with Twitch!</a>
        </p>
    {% endif %}
    </form>
    {% if logged_in  %}
        {% if "discord" in backends.not_associated %}
            You are currently not logged in via Discord.
        {% else %}
            You're currently logged in via Discord as <b>
            {% for socialauth in backends.associated %}
                {% if "discord_id" in socialauth.extra_data %}{{ socialauth.extra_data.username }}#{{ socialauth.extra_data.discriminator }}{% endif %}
            {% endfor %}</b>
        {% endif %}<br>
        {% if "twitch" in backends.not_associated %}
            You are currently not logged in via Twitch.
        {% else %}
            You're currently logged in via Twitch as
            {% for socialauth in backends.associated %}
                {% if "discord_id" in socialauth.extra_data %}{{ socialauth.extra_data.username }}#{{ socialauth.extra_data.discriminator }}{% endif %}
            {% endfor %}
        {% endif %}<br>
        <h1>success</h1><a href="/logout">logout</a><br>
        {% for social in backends.associated %}<p>{{ social.extra_data }}</p>{% endfor %}
        <p>{{ backends.associated }}|-{{ backends.not_associated }}-|{{ backends }}</p><br>
        {{ entry }}
    {% endif %}
{% endblock %}
