{% extends 'base.html' %}
{% block content %}
    {% if users %}
        <div class="row">
            <h2>The following people have their birthdays today!</h2>
        </div>
        <div class="row">
            <ul>
                <li>{% for user in users %}{{ user.display_name }}{% endfor %}</li>
            </ul>
        </div>
    {% else %}
        <div class="row">
            <div class="column">
                <h2 style="text-align: center">No-one has a birthday today :(</h2>
            </div>
        </div>
    {% endif %}
{% endblock %}
